@tailwind base;
@tailwind components;
@tailwind utilities;

/* Memberikan latar belakang gradasi abu-abu gelap dan font default untuk aplikasi */
body {
  background: linear-gradient(to bottom right, #3A3A3A, #202020); /* Gradasi abu-abu gelap */
  font-family: 'Poppins', sans-serif;
  color: #E2E8F0; /* Warna teks default yang lebih terang */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utility class untuk efek glassmorphism */
.glassmorphism {
  background: rgba(41, 41, 41, 0.5); /* Warna dasar dengan transparansi */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Dukungan untuk Safari */
  border-radius: 1rem; /* Sudut membulat */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Border tipis untuk efek kedalaman */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Bayangan halus */
}
